.descriptionsSection {
	background-color: $bg-description;

	&__wrapper {
		max-width: 1008px;
		font-family: ProximaNova;
		color: $secondary;
		margin: 0 auto;
		box-sizing: border-box;

		padding: 145px 10px 115px;
		@media (max-width: $desktopS) {
			padding: 70px 50px;
		}
	}

	&__title-block {
		text-align: right;
		padding-right: 54px;
		margin-bottom: 70px;
		position: relative;

		& .descriptionsSection__title {
			line-height: $heading-lh-xl;
			font-size: $heading-xl;
			font-weight: $bold;
			@media (max-width: $desktop) {
				font-size: 50px;
			}
		}

		& .descriptionsSection__image-decor {
			position: absolute;
			top: -25px;
			right: -10px;
		}
	}
	&__grid-container {
		display: grid;
		grid-template-columns: 271px 241px 1fr;
		gap: 40px 100px;
		@media (max-width: $desktop) {
			grid-template-columns: repeat(3, 1fr);

			gap: 30px 60px;
		}
		@media (max-width: $laptop) {
			grid-template-columns: repeat(2, 1fr);
			// justify-self: center;
			// gap: 0 300px;
		}
		.descriptionsSection__grid-item {
			display: grid;
			// @media (max-width: $laptop) {
			// 	max-width: 300px;
			// }

			grid-template-rows: 150px auto 1fr;
			&:nth-child(3) {
				img {
					position: relative;
					right: 9px;
				}
			}
			&:nth-child(5) {
				img {
					position: relative;
					left: 10px;
				}
			}
			&:nth-child(4) {
				img {
					position: relative;
					right: 13px;
				}
			}

			&:nth-child(6) {
				img {
					position: relative;
					right: 5px;
				}
			}
			&:first-child {
				img {
					position: relative;
					right: 25px;
				}
			}

			&-image {
				align-self: end;
				justify-self: center;
			}

			&-subtitle {
				justify-self: start;
				margin-top: 28px;
				font-size: $text-xl;
				font-weight: $bold;
				text-transform: uppercase;
				line-height: $text-lh-sm;
				word-wrap: break-word;
				letter-spacing: -0.02em;
			}

			&-text {
				justify-self: stretch;
				margin-top: 8px;
				color: $text-color;
				font-size: $text-md;
				font-weight: $regular;
				line-height: $text-lh-xs;
				word-wrap: break-word;
				letter-spacing: -0.01em;
			}
		}
	}
}
