.descriptionsSection {
	background-color: #f8f8f8;

	&__wrapper {
		max-width: 988px;
		font-family: ProximaNova;
		color: $secondary;
		margin: 0 auto;
		padding-top: 145px;
		padding-bottom: 119px;
	}

	&__title-block {
		text-align: right;
		padding-right: 54px;
		margin-bottom: 70px;
		position: relative;

		& .descriptionsSection__title {
			line-height: 72px;
			font-size: 60px;
			font-weight: 700;
		}

		& .descriptionsSection__image-decor {
			position: absolute;
			top: -25px;
			right: -10px;
		}
	}
	&__grid-container {
		display: grid;
		grid-template-columns: 271px 241px 1fr;
		gap: 56px 100px;

		.descriptionsSection__grid-item {
			display: grid;

			grid-template-rows: 150px auto 1fr;
			&:nth-child(3) {
				min-width: 288px;
				img {
					position: relative;
					right: 15px;
				}
			}
			&:nth-child(5) {
				img {
					position: relative;
					left: 10px;
				}
			}
			&:nth-child(4) {
				img {
					position: relative;
					right: 13px;
				}
			}

			&:nth-child(6) {
				img {
					position: relative;
					right: 11px;
				}
			}
			&:first-child {
				img {
					position: relative;
					right: 25px;
				}
			}

			&-image {
				align-self: end;
				justify-self: center;
			}

			&-subtitle {
				justify-self: start;
				margin-top: 28px;
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 20px;
				word-wrap: break-word;
				letter-spacing: -0.02em;
			}

			&-text {
				justify-self: stretch;
				margin-top: 8px;
				color: #878787;
				font-size: 15px;
				font-weight: 400;
				line-height: 19px;
				word-wrap: break-word;
				letter-spacing: -0.01em;
			}
		}
	}
}
