.statisticsSection {
	&__container {
		padding: 133px 0 131px;
		display: flex;
		justify-content: space-between;
		max-width: 908px;
		margin: 0 auto;
		font-family: ProximaNova;
		font-weight: 700;
		word-wrap: break-word;
		color: $secondary;
		@media (max-width: $desktop) {
			padding: 100px 50px;
		}
		@media (max-width: $laptop) {
			gap: 30px;
			padding: 70px 50px;
		}
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
		@media (max-width: $mobileM) {
			gap: 68px;
			padding: 80px 28px 100px;
		}
		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:not(:last-child) {
				margin-right: 93px;
				@media (max-width: $laptop) {
					margin-right: 0;
				}
			}
			&:last-child {
				margin-right: 10px;
				@media (max-width: $laptop) {
					margin-right: 0;
				}
			}
		}
	}
	&__value {
		font-size: $heading-xl;
		line-height: $heading-lh-lg;
		@media (max-width: $desktop) {
			font-size: $heading-lg;
		}
		@media (max-width: $laptop) {
			font-size: $small-lh-lg;
		}
		@media (max-width: $mobileM) {
			font-size: 42px;
			line-height: 50px;
		}
	}
	&__description {
		margin-top: 14px;
		font-size: $text-lg;
		line-height: $heading-lh-sm;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: -0.02em;
		white-space: nowrap;
		@media (max-width: $laptop) {
			margin-top: 0;
			white-space: normal;
		}
		@media (max-width: $mobileM) {
			font-size: $small-lg;
			line-height: $text-lg;
			margin-top: 12px;
		}
	}
}
