.footer {
	background-color: #363636;

	&__wrapper {
		padding-top: 56px;
		padding-bottom: 49px;
		color: $primary;
		display: flex;
		max-width: 1152px;
		justify-content: space-between;
		align-items: start;
		margin: 0 auto;
		margin-top: 97px;

		// стили для .footer__wrapper
	}

	&__news {
		width: 299px;
		height: 295px;
		border: 1px solid white;
		// стили для .footer__news
	}

	&__columns {
		display: flex;
		gap: 132px;
		font-family: ProximaNova;
		text-transform: uppercase;

		//flex-direction: column;
		// стили для .footer__columns
		.footer__navigation,
		.footer__links,
		.footer__contact-us {
			font-size: 14px;
			font-weight: 600;
			line-height: 20px;

			// стили для .footer__columns-navigation

			// стили для .footer__links
			& li {
				margin-top: 8px;
				transition: 0.2s;
				&:hover {
					color: $accent;
					cursor: pointer;
				}
			}
			&-list {
				margin-top: 20px;

				// стили для .footer__links-list
			}

			// стили для .footer__contact-us

			&-info {
				margin-top: 20px;

				font-size: 14px;
				font-weight: 600;
				line-height: 18px;

				& a {
					padding-left: 15px;
					text-transform: lowercase;
					text-decoration: none;
					color: $primary;
					transition: 0.2s;
					&:hover {
						color: $accent;
					}
				}
				&:last-child {
					margin-top: 8px;
				}
				// стили для .footer__contact-info
			}
			h4 {
				//margin-top: 20px;

				color: $accent;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				word-wrap: break-word;
				background-image: url("@img/hex-active.svg");
				background-position: left;
				background-repeat: no-repeat;
				background-size: contain;

				padding-left: 28px;
				// &::before {
				// 	content: "";
				// 	width: 17.5px;
				// 	height: 20px;
				// 	background-image: url("@img/hex-active.svg");
				// 	background-position: left;
				// 	background-size: 17.5px;
				// 	background-repeat: no-repeat;
				// }
				// // стили для .footer__columns-title
			}
		}
	}

	&__copyright {
		color: white;
		font-size: 10px;
		font-family: Raleway;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 20px;
		word-wrap: break-word;
		text-align: center;
		padding: 1px 0 2px;
		background-color: black;
		&-image {
			width: 9px;
			padding-top: 1px;
			background-image: url("@img/hex-active.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: left;
			display: inline-block;
		}
		// стили для .footer__copyright
	}
}
