.main {
}
.main__section {
	padding-top: 261px;
	background-image: url("../img/Bg-header.svg");
	background-size: cover;
	background-position: center;
	height: 549px;
	box-sizing: border-box;
}
.main__section-top {
}
.main__section-top-left-block {
}
.main__section-title {
}
.main__section-description {
}
.main__section-button {
}
.main__section-top-right-block {
}
.main__section-top-right-block__image {
}
.main__section-bottom {
}
