@import "vars";
@import "../../node_modules/normalize.css/normalize";
@import "header.scss";
@import "mainSection.scss";
@import "statisticsSection.scss";
@import "descriptionsSection.scss";
@import "videoSection.scss";
@import "formSection.scss";
@import "footer.scss";
@import "fonts";

body {
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
}
